*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: rgba(248, 59, 160, 0.781);
}

.container-menu{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-menu{
    position: relative;
}

.container-sub-menu{
    position: absolute;
}


ul{
    list-style-type: none;
}

a{
    color: #fff;
}