*{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: rgba(248, 59, 160, 0.781);
}

.container-menu{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-menu>li{
    position: relative;
}

.container-menu>li:hover .container-sub-menu{
    max-width:100vh;
}

.container-menu>li ::after{
    content: '-';
    position: absolute;
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #fff;
    right: -10px;
}

.container-menu> li:last-child ::after{
    display: none;
}

.container-sub-menu{
    position: absolute;
    overflow: hidden;
    max-width: 0;
    left: 10px;
    background-color:rgba(238, 75, 162, 0.781); 
    border-radius: 5px;
    transition: 1s;
}


ul{
    list-style-type: none;
}

.link-sub-menu{
    font-size: 18px;
    color: darkmagenta;
    display: none;
}

a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}