footer{
    color: rgb(7, 6, 83);
    padding: 3px;
    text-align: center;
}

h4{
    font-size: 100%;
}

li{
    display: list-item;
    margin: 5px;
    list-style: none;
    color:rgb(7, 6, 83);
}

a{
    color: rgb(45, 169, 241);
    text-decoration: none;
}

a:hover{
    text-shadow: 0px 0px 5px rgb(149, 97, 247);
}