*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(145, 253, 219);
    height: 100vh;
}

.menu{
    max-width: 1280px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}

section.index{
    padding: 40px 4%;
}

section.index.flexbox{
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1{
    color: black;
    font-size: 30px;

}

.textoIndex{
    color: black;
}

p{
    margin: 40px 0;
    color: black;
}

img{
    height: 70%;
    width: 70%;
    border-radius: 60px;
}

.imgIndex{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
   
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

@media screen and(max-width:1020px){
    .flexbox{
        flex-direction: column;
    }
    .index .menu{
        flex-direction: column-reverse;
    }
}
